<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="awscli" />
  <package id="docker-cli" />
  <package id="fzf" />
  <package id="git.portable" />
  <package id="gsudo" />
  <package id="kubernetes-cli" />
  <package id="kubernetes-helm" />
  <package id="kubernetes-kops" />
  <package id="minikube" />
  <package id="mkcert" />
  <package id="ngrok.portable" />
  <package id="nodejs.install" />
  <package id="openssh" />
  <package id="php" />
  <package id="putty" />
  <package id="putty.portable" />
  <package id="python" />
  <package id="ruby" />
  <package id="skaffold" />
  <package id="sudo" />
  <package id="terraform" />
</packages>
