<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="7zip"/>
  <package id="adobereader"/>
  <package id="chocolateygui"/>
  <package id="etcher"/>
  <package id="franz"/>
  <package id="googlechrome"/>
  <package id="insomnia-rest-api-client"/>
  <package id="jetbrainstoolbox"/>
  <package id="lens"/>
  <package id="nvidia-display-driver"/>
  <package id="powertoys"/>
  <package id="quicklook"/>
  <package id="skype"/>
  <package id="slack"/>
  <package id="transmission"/>
  <package id="winaero-tweaker"/>
  <package id="zoom"/>
</packages>
