<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="chocolatey-vscode"/>
  <package id="chocolatey-vscode.extension"/>
  <package id="vscode"/>
  <package id="vscode-ansible"/>
  <package id="vscode-cloud-code"/>
  <package id="vscode-docker"/>
  <package id="vscode-editorconfig"/>
  <package id="vscode-eslint"/>
  <package id="vscode-gitignore"/>
  <package id="vscode-go"/>
  <package id="vscode-java"/>
  <package id="vscode-kubernetes-tools"/>
  <package id="vscode-powershell"/>
  <package id="vscode-prettier"/>
  <package id="vscode-python"/>
  <package id="vscode-react-native"/>
  <package id="vscode-ruby"/>
  <package id="vscode-spring-initializr"/>
  <package id="vscode-yaml"/>
</packages>
