<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="ClientForNFS-Infrastructure" />
  <package id="Containers" />
  <package id="HypervisorPlatform" />
  <package id="Microsoft-Hyper-V-All" />
  <package id="Microsoft-Windows-Subsystem-Linux" />
  <package id="NFS-Administration" />
  <package id="NetFx4-AdvSrvs" />
  <package id="NetFx4Extended-ASPNET45" />
  <package id="NFS-Administration" />
  <package id="Printing-PrintToPDFServices-Features" />
  <package id="SearchEngine-Client-Package" />
  <package id="ServicesForNFS-ClientOnly" />
  <package id="SimpleTCP" />
  <package id="SmbDirect" />
  <package id="TelnetClient" />
  <package id="VirtualMachinePlatform" />
  <package id="WCF-Services45" />
  <package id="WCF-TCP-PortSharing45" />
  <package id="Windows-Defender-ApplicationGuard" />
</packages>
